/* Footer.css */
footer {
  padding: 3rem 1rem 5rem;
}

#copyright-text {
  text-align: center;
  color: rgb(91, 91, 91);
  font-size: xx-small;
  margin-top: 1rem;
}

#footer .global-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

#footer #copyright-text {
  color: var(--global-text-grey);
  font-size: 0.9rem;
  text-align: center;
}

#footer .nav-icons {
  justify-content: center;
}

#footer .icon {
  color: #ffffff;
  font-size: 28px;
}
