nav {
  position: sticky;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 6px 8px -1px rgb(0, 0, 0, 0.13);
  transition: all 0.3s;
}

.logo {
  margin: 0 33px;
  width: 174px;
}

.anchors {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.anchors a {
  margin: 0 20px;
  padding: 12px 4px 8px;
  font-family: inherit;
  font-size: 17px;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.1875rem;
  color: black;
  border-bottom: solid 4px rgba(0, 0, 0, 0);
}

.anchors a:hover {
  border-bottom: solid 4px rgb(147, 147, 147);
  color: rgb(147, 147, 147);
  cursor: pointer;
}

.nav-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 19px;
}

.nav-icons a {
  margin: 0;
  padding: 12px 14px 8px;
  border-bottom: solid 4px rgb(0, 0, 0, 0);
}

.icon {
  color: black;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
}

.nav-icons a:hover .icon {
  color: rgb(147, 147, 147);
}

.nav-icons a:hover {
  border-bottom: solid 4px rgb(147, 147, 147);
}

.mobile-nav {
  position: sticky;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 24px 24px;
  background-color: #ffffff;
  height: 100px;
  box-shadow: 0 6px 8px -1px rgb(0, 0, 0, 0.13);
  transition: all 0.3s;
}

.mobile-nav h1 {
  left: 30px;
  top: 50%;
  margin: 0;
  padding: 0;
  color: black;
  color: black !important;
}

.mobile-nav h1:hover {
  cursor: pointer;
}

.hamburger {
  top: 50%;
  right: 30px;
  color: black;
  font-size: 33px;
}

.hamburger:hover {
  cursor: pointer;
}

.times {
  position: absolute;
  right: 24px;
  top: 32px;
  color: white;
  font-size: 33px;
}

.times:hover {
  color: rgb(147, 147, 147);
  cursor: pointer;
}

.modal {
  z-index: 1000;
  background-color: #1212126d;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.modal-menu {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  right: 0;
  top: 0;
  width: 100%;
  height: fit-content;
  background-color: black;
  padding: 1rem;
  box-shadow: 0 6px 8px -1px rgb(0, 0, 0, 0.13);
}

.modal-menu ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 0;
}

.modal-menu li {
  list-style-type: none;
  margin: 22px 0;
  font-family: inherit;
  font-size: large;
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.1875rem;
}

.modal-menu li a {
  color: #ffffff;
}

.modal-menu li a:hover {
  color: rgb(147, 147, 147);
  cursor: pointer;
}

.modal-menu .icon {
  color: #ffffff;
}

@media only screen and (max-width: 1172px) {
  nav {
    display: none;
  }

  .logo {
    margin-left: 0;
  }

  .mobile-nav {
    display: flex;
  }
}
