/* Signup.css */

#mc_embed_signup {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0px !important;
}

#mc_embed_signup_scroll {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mc-field-group {
  width: 100%;
}

.btn.subscribe {
  padding: 20px !important;
  border-radius: 0 !important;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 24px 0 0 !important;
  justify-content: center;
}

@media (max-width: 768px) {
  #mc_embed_signup_scroll {
    align-items: stretch;
  }

  .btn.subscribe {
    width: 100% !important;
    max-width: 100% !important;
    align-self: stretch;
  }
}
